[Match]
Name=usb*

[Link]
RequiredForOnline=no

[Network]
# Configure Subnet for USB Ethernet Gadget
# - IP Range: 10.12.194.1 to 10.12.194.14
# - Total IPs: 16
# - Usable IPs: 14
# - Network Address: 10.12.194.0
# - Broadcast Address: 10.12.194.15
# - Subnet Mask: 255.255.255.240 (/28)
# | 10 - private 
# | 12 - 2012 founding of Raspberry Pi Ltd. 
# | 194 - address of Raspberry Pi Ltd. in the Science Park, Cambridge
# | 1 - first device
# TODO: maybe only static hostname to not conflict when multiple devices are connected
# to the same computer
Address=10.12.194.1/28
# Be a DHCP *client* when the host offers it (ICS)
DHCPServer=no
DHCP=yes

# Fall back to IPv4 link-local (169.254/16) when there’s no DHCP server
IPv4LL=yes

# Publish/resolve myhostname.local using mDNS (and LLMNR for Windows)
IPv6AcceptRA=yes
# no-op as mDNS is handled by avahi compared to systemd-resolved
MulticastDNS=yes
LLMNR=yes

# Prefer the DHCP-provided route over the static alias
DHCPv4.RouteMetric=100
IPv4RouteMetric=200

# In case you want the Pi to take
# over controll of the connection
# In order to enable this
# - Disable DHCP=no above
# - Enable DHCPServer=yes above
[DHCPServer]
# Configure DHCP settings
PoolOffset=1                # start at .2 (offset from the server address)
PoolSize=14                 # Number of IP addresses available for lease (.2 .. .15 excluding broadcast)
DefaultLeaseTimeSec=5min    # Default lease time for DHCP clients
MaxLeaseTimeSec=30min       # Maximum lease time for DHCP clients

# Network isolation settings (no internet)
EmitDNS=no                  # Do not provide DNS information
EmitNTP=no                  # Do not provide NTP information
EmitRouter=no               # Do not provide router information
