# Log a host hint as soon as the usb* net iface appears
ACTION=="add", SUBSYSTEM=="net", KERNEL=="usb*", RUN+="/usr/libexec/rpi-usb-gadget/host_hint.sh %k"
